body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width:100%;
}
section
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold
{
  font-size:30px;
}
li{
  padding:5px;
}
.nav-link
{
  font-weight: bold;
  font-size: 15x;
  border:2px solid transparent;
}
.nav-link:hover
{
  text-decoration: underline 2px  solid blue;
  transition: .1s;

}
#navbar
{
  position: sticky;
  top: 0;
  background-color: white;
}
 /* home */
 span
 {
  color: blue;
  font-weight:solid;
 }
 p
 {
  font-size: 18px;
  font-family:sans-serif;
 }

 /* about */
 #about img
 {
  width:25rem;
  height:25rem;
  margin-top:-5% ;
  border-radius:50px;
 }
 /* services */
 .card img
 {
  height:200px;
 }
 .inner
 {
  overflow: hidden;
 }
 .card img:hover
 {
    transform:scale(1.5);
    transition:1s;
 }
 /* form */
 form
 {
  padding:40px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2),
              -1px -1px 5px rgba(0,0,0,.05);
  border-radius: 30px;             
 }